@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@font-face { font-family: 'Work Sans'; src: url("/src/assets/font/Work_Sans/static/WorkSans-Regular.ttf"); }


body {
    color: #000 !important;
    font-family: "Work Sans" !important;
    font-weight: 400;
    font-size: 0.8rem !important;
}
