@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@font-face { font-family: 'Work Sans'; src: url("/src/assets/font/Work_Sans/static/WorkSans-Regular.ttf"); }


body {
	width: 500px;
    color: #000 !important;
    font-family: "Work Sans" !important;
    font-weight: 400;
    font-size: 0.8rem !important;
}

.number-text {
    font-size: 25px;
}

.number-text,
#dashboard-ko,
#dashboard-ok,
#lum-delegated-number-text,
#lum-delegated-balance-text,
#lum-reward-number-text,
#lum-reward-balance-text,
#lum-unbounded-number-text,
#lum-unbounded-balance-text,
#lum-available-number-text,
#lum-available-balance-text
{
    display: none;
}

.card-title {
    font-size: 1.15rem;
}

.card{
    background-color: #ffffff!important;
    border: none;
}

.tab-pane {
    margin-top: 15px
}

#lum-price {
    margin-bottom: 10px
}
